@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;    
    accent-color: #6933FF;
}

*::selection {
    background-color: #6933FF !important;
    color: #fff !important;
}

.opposite-sel::selection {
    background-color: #fff !important;
    color: #6933FF !important;
}

input {
    margin-top: .25rem;
    display: block;
}
.text-input {
    padding: 0 .25rem;
    color: #6933FF;
}